{:webserver {:port #or [#env WEBSERVER_PORT 3000]}
 :postgresql {:dbname "example"
              :host "db"
              :port 5432
              :dbtype "postgresql"
              :user "test"
              :password "test"}}
